{{ partial "header.html" . }}

<section class="posts">
  {{ $paginator := .Paginate (where .Data.Pages "Type" "posts") (.Site.Params.paginatorNum | default 10) }}
  <ul class="post-list">
    {{ range $paginator.Pages }}
    <li class="post">
      <div class="title">
        <a href="{{ .Permalink }}">{{ .Date.Format "2006-01-02" }} | {{ .Title }}</span></a>
      </div>
      <div class="summary">
        {{ .Summary }}
        {{ if .Truncated }}
        <div class="readmore">
          <a href="{{ .Permalink }}">Read More…</a>
        </div>
        {{ end }}
      </div>
    </li>
    {{ end }}
  </ul>
  <div class="paginator list grid">
    <div class="cell -6of12 previous">
      {{ if $paginator.HasPrev }}<a href="{{ $paginator.Prev.URL | absURL }}">{{ end }}<i class="fas fa-angle-left fa-lg"></i> Prev{{ if $paginator.HasPrev }}</a>{{ end }}
    </div>
    <div class="cell -6of12 next">
      {{ if $paginator.HasNext }}<a href="{{ $paginator.Next.URL | absURL }}">{{ end }}Next <i class="fas fa-angle-right fa-lg"></i>{{ if $paginator.HasNext }}</a>{{ end }}
    </div>
  </div>
</section>


<section class="profile">
  <div class="media">
    <div class="media-left">
      <img class="profile-image" src="https://graph.facebook.com/v2.11/100001144471168/picture?type=small" alt="facebook profile image">
    </div>
    <div class="media-body">
      <div class="media-heading">{{ .Site.Params.author }}</div>
      <div class="media-content">{{ .Site.Params.description }}</div>
    </div>
  </div>
  <div class="socials">
    <ul>
      <li class="social facebook"><a href="https://facebook.com/{{ .Site.Params.Social.facebook }}"><i class="fab fa-facebook-square fa-lg fa-fw" aria-hidden="true"></i><span class="url">https://facebook.com/{{ .Site.Params.Social.facebook }}</span></a></li>
      <li class="social twitter"><a href="https://twitter.com/{{ .Site.Params.Social.twitter }}"><i class="fab fa-twitter-square fa-lg fa-fw" aria-hidden="true"></i><span class="url">https://twitter.com/{{ .Site.Params.Social.twitter }}</span></a></li>
      <li class="social instagram"><a href="https://instagram.com/{{ .Site.Params.Social.instagram }}"><i class="fab fa-instagram fa-lg fa-fw" aria-hidden="true"></i><span class="url">https://instagram.com/{{ .Site.Params.Social.instagram }}</span></a></li>
      <li class="social soundcloud"><a href="https://soundcloud.com/{{ .Site.Params.Social.soundcloud }}"><i class="fab fa-soundcloud fa-lg fa-fw" aria-hidden="true"></i><span class="url">https://soundcloud.com/{{ .Site.Params.Social.soundcloud }}</span></a></li>
      <li class="social spotify"><a href="https://open.spotify.com/user/{{ .Site.Params.Social.spotify }}"><i class="fab fa-spotify fa-lg fa-fw" aria-hidden="true"></i><span class="url">https://open.spotify.com/user/{{ .Site.Params.Social.spotify }}</span></a></li>
      <li class="social github"><a href="https://github.com/{{ .Site.Params.Social.github }}"><i class="fab fa-github-square fa-lg fa-fw" aria-hidden="true"></i><span class="url">https://github.com/{{ .Site.Params.Social.github }}</span></a></li>
      <li class="social linkedin"><a href="https://linkedin.com/in/{{ .Site.Params.Social.linkedin }}"><i class="fab fa-linkedin fa-lg fa-fw" aria-hidden="true"></i><span class="url">https://linkedin.com/in/{{ .Site.Params.Social.linkedin }}</span></a></li>
    </ul>
  </div>
</section>

{{ partial "footer.html" . }}
